<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173244943038-l2ngablj3bjpokuequ3etkqknrbqe0qh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173244943038-l2ngablj3bjpokuequ3etkqknrbqe0qh</string>
	<key>API_KEY</key>
	<string>AIzaSyDdmcheTIsujJrTDbD1J93Mkj8YzZcw4z0</string>
	<key>GCM_SENDER_ID</key>
	<string>173244943038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.marcobullo.mynotes</string>
	<key>PROJECT_ID</key>
	<string>marcobullo-mynotes</string>
	<key>STORAGE_BUCKET</key>
	<string>marcobullo-mynotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173244943038:ios:cf82953f68c861ee6a6cef</string>
</dict>
</plist>